@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600;700&display=swap');

.page {
    display: grid;
    grid-template-rows: 45% 30% 25%;
    background-color: inherit;
    color: aliceblue;
    height: 100dvh;
    width: 100dvw;
}

.header, .main, .footer {
    height: 100%;
    width: 100%;
}

.logo {
    font-size: 0.8em;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

section {
    height: 100%;
    width: 350px;
    background-color: inherit;
    position: relative;
}

.title {
    position: absolute;
    top: -11px;
    margin: 0;
    left: 16px;
    background-color: rgb(15, 13, 19);
    z-index: 20;
    padding: 0 5px;
    font-size: 1.2em;
    font-family: 'Inconsolata', monospace;
}

.border {
    height: 100%;
    width: 90%;
    border: 1px solid aliceblue;
    border-radius: 15px;
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.border, .title, .link {
    transition: 300ms ease-in-out;
}

section:hover .border{
    border-color: #640000;
}

section:hover .title{
    color: #640000;
}

.link {
    display: flex;
    align-items: center;
    font-size: 1.6em;
    text-decoration: none;
    width: 100%;
    padding: 15px 0;
    color: aliceblue;
    border-radius: 20px;
    justify-content: center;
    column-gap: 20px;
    font-family: 'Inconsolata', monospace;
}

.link:hover {
    color: #640000;
}
